.carousel {
    padding: 2rem 0;
    
        background: linear-gradient(to bottom, #00ccff 0%, #0000ff 100%);
    
}


.carousel img {
    height: 90vh;
    object-fit:fill
    
}

.thumbs-wrapper, .carousel-status {
    display: none;
}



